name: Run tests

on: [pull_request, push]

jobs:
  test:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v1.0.0
      - uses: julia-actions/setup-julia@latest
        with:
          version: 1.5.0
      - run: julia --project test/installQaintessent.jl
      - uses: julia-actions/julia-runtest@master
